# PyCharm-specific files
.idea/

# Terraform-related files
*.tfstate
*.tfstate.backup
.terraform/
*.lock.hcl

# Local configuration and secret files
terraform.tfvars
*.tfvars
*.tfvars.json

# Ignore secrets and sample files by relative path
gcp_secrets/
resources/
snowflake_secrets/

# Airflow
airflow/logs/
airflow/dags/__pycache__
airflow/*.cfg
airflow/*.pid
airflow/*.db
airflow/.env


# others
.env
.DS_Store
logs/


