# PyCharm-specific files
.idea/

# Terraform-related files
*.tfstate
*.tfstate.backup
.terraform/

# Local configuration and secret files
terraform.tfvars
*.tfvars
*.tfvars.json

# Ignore secrets and sample files by relative path
gcp_secrets/
sample_files/